* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'jost', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	color: #9e76dd;
	overflow-wrap: anywhere;
}

label {
	font-weight: 500;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.radio-label {
	text-align: center;
}

p {
	overflow-wrap: break-word;
}

@keyframes bounce {
}

@-webkit-keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-20px);
	}
	50% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(0.7, 1, 1) translateY(-10px);
	}
}
